html {
    font-size: 62.5%;
}

body {
    font-size: 1.5rem;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    background: #FAFAFA;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    

    padding: 5.6rem 3rem 4.6rem 2.9rem;
}

.main-information h1 {
    color: var(--color-grey-500, #4D4F62);
    text-align: center;
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: 0.25px;
}

.main-information .eyebrow {
    color: var(--color-grey-500, #4D4F62);
    text-align: center;
    font-size: 2.4rem;
    font-weight: 275;
    line-height: 140%;
    letter-spacing: 0.25px;
}

.main-information .description {
    color: var(--color-grey-500, #4D4F62);
    text-align: center;
    line-height: 140%;
    letter-spacing: 0.104px;
    margin-top: var(--spacing-200, 16px)
}

.cards-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-400, 3.2rem);
    
}


.resource-card {
    display: flex;
    width: 100%;
    max-width: 350px;
    min-width: 314px;
    height: 250px;
    padding: var(--spacing-400, 32px);
    flex-direction: column;
    align-items: flex-start;
    /* gap: var(--spacing-400, 32px); */

    border-radius: var(--spacing-100, 8px);
    background: var(--color-white, #FFF);

    /* Drop Shadow */
    box-shadow: 0 15px 30px -11px rgba(131, 166, 210, 0.50);
}


.resource-card h3 {
    color: var(--color-grey-500, #4D4F62);
    font-size: 2rem;
    font-weight: 600;
    line-height: 135%;
}

.resource-card .card-description {
    color: var(--color-grey-400, #6A7178);
    font-size: 1.3rem;
    line-height: 160%;
    letter-spacing: 0.09px;
    margin-top: 0.6rem;
}

.resource-card img {
    width: 6.4rem;
    height: 6.4rem;
    flex-shrink: 0;
    align-self: self-end;
    margin-top: var(--spacing-400);
}

.supervisor {
    border-top: 0.4rem solid var(--color-cyan, #44D3D2);
}

.team-builder {
    border-top: 0.4rem solid var(--color-red, #EA5454);
}

.karma {
    border-top: 0.4rem solid var(--color-orange, #FCAE4A);
}

.calculator {
    border-top: 0.4rem solid var(--color-blue, #549EF2);
}