html {
    font-size: 62.5%;
}

body {
    font-size: 1.5rem;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    background: var(--color-white-100);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    

    padding: 5.6rem 3rem 4.6rem 2.9rem;
}

.main-information h1 {
    color: var(--color-grey-500);
    text-align: center;
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: 0.025rem;
}

.main-information .eyebrow {
    color: var(--color-grey-500);
    text-align: center;
    font-size: 2.4rem;
    font-weight: 200;
    line-height: 140%;
    letter-spacing: 0.025rem;
}

.main-information .description {
    color: var(--color-grey-500);
    text-align: center;
    line-height: 140%;
    letter-spacing: 0.0104rem;
    margin-block-start: var(--spacing-200, 1.6rem)
}

.cards-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-400, 3.2rem);
    
}


.resource-card {
    display: flex;
    width: 100%;
    max-width: 35rem;
    padding: var(--spacing-400, 3.2rem);
    flex-direction: column;
    align-items: flex-start;

    border-radius: var(--spacing-100, 0.8rem);
    background: var(--color-white);

    /* Drop Shadow */
    box-shadow: 0 1.5rem 3rem -1.1rem rgba(131, 166, 210, 0.50);
}


.resource-card h2 {
    color: var(--color-grey-500);
    font-size: 2rem;
    font-weight: 600;
    line-height: 135%;
}

.resource-card .card-description {
    color: var(--color-grey-400);
    font-size: 1.3rem;
    line-height: 160%;
    letter-spacing: 0.009rem;
    margin-block-start: 0.6rem;
}

.resource-card img {
    width: 6.4rem;
    height: 6.4rem;
    flex-shrink: 0;
    align-self: flex-end;
    margin-block-start: var(--spacing-400);
}

.supervisor {
    border-top: 0.4rem solid var(--color-cyan);
}

.team-builder {
    border-top: 0.4rem solid var(--color-red);
}

.karma {
    border-top: 0.4rem solid var(--color-orange);
}

.calculator {
    border-top: 0.4rem solid var(--color-blue);
}